header,p,content,h1,h2,h3,h4,h5,h6,h7,input,#video-title.ytd-rich-grid-media,li,ol,span,table,tl,tr,th,* {
    font-family:"Nunito" !important;
}
code,.w3-code, .w3-codespan{
    font-family:"Comic Code" !important;
color: #2367f9;
}

strong,b {
    color: #2367f9;
}
h2 {
    color:#fff8f8;
    background-color: #fc3a51;
    padding-left: 10px;
    padding-top: 3px;
    border-radius: 8px;
    padding-bottom: 4px;
     border-style:ridge;
    border-color: #1a0d78;
    text-shadow: #000000 2px 2px ;
    font-size: 22px;
}

h1,em {
    color: #ff0967;
}

button, h3 {
    /*color: #4f28fd;*/
    color:#565151;
    background-color: #f1e2f0;
    padding-left: 10px;
    padding-top: 3px;
    border-radius: 8px;
    padding-bottom: 4px;
     border-style:ridge;
    border-color: #1a0d78;   
}

 li {
    background-color: #f4edf4;
    padding-left: 10px;
    padding-top: 3px;
    border-radius: 8px;
    padding-bottom: 4px;
    border: rgb(180, 154, 154);
    border-width:1px;   
    border-style:double;
    color: #4c5369;
}

/*button {
    border: none;
    font-size: 20px;
    display: inline-flex;
   font-weight: 700;
    margin-bottom: 20px;
    padding-right: 30px;
    word-wrap:normal;
} */

.flex {
  display: flex; 
  background-color: DodgerBlue;
  border-radius: 8px;
  height:850px;
}

.flex > div { /*left area*/
  background-color: #fefcfe;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 20px;
  width: 300px;
  height:800px;
  overflow: auto;
  margin-bottom: 200px;
}

.flex > div > p {
    background-color: #f8f1f8;
    border: #21242c;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid; 
    padding-left: 20px;
}

h3.active  {
    /*background-color: #fe0123ce !important;*/
    border: #000000 solid !important;
    border-width: 5px !important;
}

.flex > div > h3 {
    /*background-color: #e2e0e0;*/
    color: #faf9fc;
   background-color: rgb(12, 153, 247) !important;
    /*background-color: rgb(227, 232, 235) !important;*/
    border-width: 2px;
    text-shadow: #000000 1px 1px;
    
    }

.flex > div > h1 {
    /*background-color: #e2e0e0;*/
    /*color: #857a97;*/
    color:rgb(42, 70, 255);
}

a {
  background-color: aquamarine;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
   border-radius: 8px; /*curves*/
   padding-bottom: 2px;
   color:#2152f3;
}

h3.later,li.later {
    background-color: #c3c4d3;       
    /*background-color: #c6c5c5 !important;*/
    color:#585757;
    border-width: 2px;   
}

h3.close,li.close {
    background-color: #5b5757 !important;       
    /*background-color: #c6c5c5 !important;*/
    color:#6e6d6d;
    text-shadow: #000000 1px 1px ;
    border-width: 2px;   
    color:#ffffff;
}

h3.done {
    background-color: #05b350 !important;
    text-shadow: #000000 1px 1px ;
    border-width: 2px;   
    color:#ffffff;
}

li.done {
    background-color: #0cff8e !important;
}

h3.next {
   /* background-color: hsla(46, 97%, 53%, 0.78) !important;*/
     background-color: #fa0473 !important;
    text-shadow: #000000 1px 1px ;
    border-width: 2px;   
    color:#ffffff;
}

li.next {
   /* background-color: hsla(46, 97%, 53%, 0.78) !important;*/
     background-color: #f9a9cd !important;
    border-width: 2px;   
}

h3.open {
     color:rgb(255, 255, 255);
    background-color: rgb(13, 157, 253);
     text-shadow: #000000 2px 2px ;
} 

#log {
    border: #060e1f;
    border-style: solid;
    width: 400px; /*left side*/
}

#details {
    border: #060e1f;
    border-style: solid;
    width: 500px;

}

#details > p {
    background-color: #ffeffc;
    padding-top: 20;
   height: 400px;

     height: 300px;
            overflow: auto;
            border: #060e1f 2px solid;
            padding: 10px;
    
  scrollbar-color: rgb(0, 132, 255) rgb(224, 220, 223) ;
  scrollbar-width: 20px;  
  scroll-padding-block: 20px; 
  scroll-behavior: smooth;
}

/* Customize the entire scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background: #d2f6ff; /* Light gray track */
  border-radius: 5px; /* Optional: Rounded corners for the track */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #0089e4; /* Dark gray thumb */
  border-radius: 3px; /* For rounded ends, or a larger value for more circular appearance */
}

/* Optional: Change thumb color on hover 
::-webkit-scrollbar-thumb:hover {
  background: #555;
}*/


#details > string {
    line-height: 2;

}


.close:before{
    display: inline-flex;
    content: "";
    width:24px;
    height: 24px;
    padding-inline: 4px;
    padding: auto;
    background: transparent 
    url('./quest/image/24/cancel.png')
    no-repeat;
}

.later:before{
    display: inline-flex;
    content: "";
    width: 30px;
    height: 25px;
    padding-inline: 2px;
    padding: auto;
    background: transparent 
    url('./quest/image/24/next.png') 
    no-repeat;
}

.done:before{
    display: inline-flex;
    content: "";
    width: 30px;
    height: 25px;
    padding-inline: 2px;
    padding: auto;
    background: transparent 
    url('./quest/image/24/004-check.png') 
    no-repeat;
}

.open:before{
    display: inline-flex;
    content: "";
    width: 30px;
    height: 25px;
    padding-inline: 2px;
    padding: auto;
    background: transparent 
    url('./quest/image/24/lamp\(1\).png') 
    no-repeat;
}

.next:before{
    display: inline-flex;
    content: "";
    width: 30px;
    height: 25px;
    padding-inline: 2px;
    padding: auto;
    background: transparent 
    url('./quest/image/24/002-bookmark.png') 
    no-repeat;
}

.sort:before{
    display: inline-flex;
    content: "";
    width: 30px;
    height: 25px;
    padding-inline: 2px;
    padding: auto;
    background: transparent 
    url('./quest/image/24/filter.png') 
    no-repeat;
}

.new:before{
    display: inline-flex;
    content: "";
    width: 30px;
    height: 25px;
    padding-inline: 2px;
    padding: auto;
    background: transparent 
    url('./quest/image/24/folder.png') 
    no-repeat;
}

.done2:before{
    display: inline-flex;
    content: "";
    width: 30px;
    height: 25px;
    padding-inline: 2px;
    padding: auto;
    background: transparent 
    url('./quest/image/gold-star\(inf-sm\).gif') 
    no-repeat;
}

.backb:before{
    display: inline-flex;
    content: "";
    width: 30px;
    height: 25px;
    padding-inline: 2px;
    padding: auto;
    background: transparent 
    url('./quest/image/24/left-arrow.png') 
    no-repeat;
 
}

.nextb:before{
    display: inline-flex;
    content: "";
    width: 30px;
    height: 25px;
    padding-inline: 2px;
    padding: auto;
    background: transparent 
    url('./quest/image/24/right-arrow.png') 
    no-repeat;
    
}

.backb{
  background-color:#5078fc;
  color: white;
   font-weight: 700;
  letter-spacing: 0.15ch;
}

.nextb{
  background-color:#5078fc;
  color: white;
  font-weight: 700;
  letter-spacing: 0.15ch;
}


h4 {
    color: #1ec03f;
}

h5 {
    color: #ffe602;
}

h6 {
    color: #dd8807;
}

p {
    line-height: 2 !important; 

}

body {
    background-color: #F9F0F8;
}

/*To do app*/

  li {
    margin-bottom: 10px;
  }

  button li button {
    font-size: 12px;
    margin-left: 20px;
    color: #ffffff;
    background-color: rgb(220, 20, 87);
    border-radius: 5px;
    float: right;
  }

  .mystyle {
    /* width: 50%; */
    padding: 1px;
    background-color: rgb(80, 255, 109) !important;
    color: rgb(92, 61, 61) !important;
    border-radius: 5px;
  }

  .area {
    /* width: 50%; */
    padding: 5px;
    background-color: rgb(255, 80, 103);
    border-radius: 5px;
    /* list-style-type: none; Remove bullets */
    margin-left: -25px;
    font-weight: bold;
  }

  .step , .log{
    padding: 5px;
    border-radius: 5px;
    /*margin-left: 25px;
    color: rgba(255, 80, 103, 0.055);*/
    color:rgb(8, 2, 22);
    background-color: rgba(255, 80, 103, 0.055);
    /*background-color: #096bff;*/
    border: 1px solid #9b9494;
    border-radius: 5px;
    font-weight: 700;


  }

  li::marker {
  color: rgb(33, 22, 190);
}

  #container {
   display: flex; 
   position: relative;
   padding-left: 20px;
   padding-right: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
    display: grid; 
   justify-items: center;
  } 

   #main {
    /*min-width: 500px;*/
   /* max-width: 600px;*/
    border: 1px solid #9b9494;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px; 

       
  } 

  /*new*/
  .todo-del { 
    background: #ed365e; 
    border-radius: 5px;}
#todo-save, .todo-edit, .todo-done { 
    background: #ffc60c; 
    border-radius: 5px;
    margin-left: 5px;
}
#todo-item, .todo-done { 
    background: #0cff8e; 
    border-radius: 5px;
    padding-left: 05px;
}

#todo-add, .todo-row {
    display: flex;
    align-items: stretch; 
    min-width: 500px;
    word-wrap: normal;
    box-shadow: 0px 0px 1px rgb(58, 51, 51);
    margin: 10px;
   
  }
  #todo-item, .todo-item {
     flex-grow: 2; 
    background-color: rgba(255, 80, 103, 0.055);
    color: #060e1f;
    border: #dd033a;
    padding-bottom: 5px;
     padding-left: 05px;
  }

  .todo-item.todo-ok {  
    background: #0cff8e; 
    border-radius: 5px;}
.todo-item.editing { background: #fffdcf; }
#todo-save, .todo-del, .todo-edit, .todo-done {
  cursor: pointer;
}

h3.done2,li.done2 {
  /* background-color: #ffdb0cce !important;    
    background-color: #2e54d0 !important;*/
    background-color: #05b350 !important;
    text-shadow: #000000 1px 1px ;
    border-width: 2px;   
    color:#ffffff;
}

.do {
    flex-wrap: nowrap;
    padding-left: 20px;
}

button {
    padding-right: 10px;
    margin-right: 10px;
}

/*Progress bars */
/* Make sure that padding behaves as expected */
* {box-sizing:border-box;
}

/* Container for skill bars */
.container {
  width: 95%; /* Full width */
  background-color: #ebebeb; /* Grey background */
  border: 1px solid #312d2d;
  border-radius: 5px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.skills {
  text-align: left; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  color: rgb(0, 0, 0); /* White text color */
  padding-left: 20px;    
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1.5px solid #312d2d;
}

.html {width: 90%; background-color: #08be5a;} /* Green */
.mp {width: 80%; background-color: #2152f3;} /* Blue */
.hp {width: 80%; background-color: #ff1749;} /* Red */
.exp {width: 20%; background-color: #ffd904;} /* Dark Grey */

.lvl {
    color:black;
    font-size:medium;
    padding-left: 12px;
}

input[type=text] {
  border: 2px solid rgb(96, 136, 223);
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
 background-color: rgba(255, 80, 103, 0.055);
 font-size:medium;

 background-image: url('/projects/quest/image/24/folder.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 45px;
}